@import "../../scss/variables";
.article-preview {
  align-items: flex-start;
  border-bottom: 1px solid grey;
  display: flex;
  height: auto;
  justify-content: flex-start;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
  width: 100%;

  &--image {
    height: 8rem;
    margin-right: 1rem;
    @media (max-width: 530px) {
      height: 5rem;
    }
  }

  &--text {
    font-size: 1rem;
    @media (max-width: 530px) {
      font-size: 0.8rem;
    }
    font-style: oblique;
    width: 100%;
  }

  &--title {
    color: $MAIN_THEME;
    display: block;
    font-size: 2rem;
    @media (max-width: 720px) {
      font-size: 1.5rem;
    }
    @media (max-width: 530px) {
      font-size: 1.2rem;
    }
    font-weight: 600;
  }
}

.mask {
  background-color: rgba(255, 255, 255, 0.473);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
