@import "../../scss/variables";
.contact {
  display: block;

  &-form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    & button {
      background-color: transparent;
      border: 1px solid white;
      border-radius: 30px;
      color: white;
      height: 1.8rem;
      font-family: "Exo";
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: all 500ms cubic-bezier(0.25, 0.25, 0.11, 0.965);
      &:active {
        background-color: white;
        box-shadow: 1.5px 1.5px 1.5px black;
        color: black;
        font-weight: bold;
        transform: translateY(-2px);
        transition: all 500ms cubic-bezier(0.25, 0.25, 0.11, 0.965);
      }
      &:hover {
        background-color: white;
        box-shadow: 2px 2px 2px black;
        color: black;
        font-weight: bold;
        transform: translateY(-3px);
        transition: all 500ms cubic-bezier(0.25, 0.25, 0.11, 0.965);
      }
    }
    & input {
      border: none;
      border-radius: 30px;
      height: 1.8rem;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    & label {
      color: white;
      margin-bottom: 0.25rem;
    }

    & textarea {
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      height: 7rem;
      margin-bottom: 1rem;
    }
  }
  &-icon {
    height: 2.5rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: all 0.2s ease-in-out;
    }

    &--wrapper {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;
      width: 100%;
    }
  }

  &-wrapper {
    background-color: $MAIN_THEME;
    border-radius: 10px;
    box-shadow: 0 20px 20px hsla(0, 0%, 0%, 0.503);
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 50px 4rem;
    width: 50%;
    @media (max-width: 450px) {
      padding: 25px 2rem;
      width: 80%;
    }
  }
}
