@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;400;600;900&display=swap");
@import "variables";

html {
  box-sizing: border-box;
  font-size: 16px;
  @media (max-width: 720px) {
    font-size: 14px;
  }
  @media (max-width: 370px) {
    font-size: 12px;
  }
  @media (max-width: 320px) {
    font-size: 11px;
  }
  @media (min-width: 1400px) {
    font-size: 22px;
  }
  scroll-behavior: smooth;
}
body {
  font-family: "Exo";
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 300px;
  padding: 0;
}

.article-post {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 80vw;
  padding: 2rem;
  position: relative;
  width: 100%;
  &--image {
    height: 50vh;
    width: 100%;
  }

  &--text {
    letter-spacing: 2px;
    line-height: 2rem;
    width: 100%;
  }
  &--title {
    color: $MAIN_THEME;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.blog {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  @media (max-width: 530px) {
    padding: 0;
  }
  justify-content: flex-start;
}

.footer {
  border-top: 1px solid grey;
  color: grey;
  margin: 0 auto;
  padding: 1rem;
  width: 80%;
  & p {
    text-align: center;
  }
}

.heading-secondary {
  color: $MAIN_THEME;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 auto;
  margin-top: 16px;
  text-align: center;
  text-transform: uppercase;
}
.link {
  color: black;
  text-decoration: none;
}

[data-aos="new-animation-left"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }

  @media screen and (min-width: 880px) {
    transform: translateX(100px);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}

[data-aos="new-animation-right"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }

  @media screen and (min-width: 880px) {
    transform: translateX(-100px);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}
