.about {
    margin-right: 6rem;
    margin-left: 6rem;
    @media (max-width: 720px) {
      margin-right: 2rem;
      margin-left: 2rem;
    }
  
    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 810px) {
        display: block;
      }
    }
  
    &-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-right: 3rem;
      @media (max-width: 720px) {
        width: 150px;
        height: 150px;
      }
      @media (max-width: 460px) {
        width: 100px;
        height: 100px;
      }
    }
  
    &-text {
      font-size: 1rem;
      line-height: 2rem;
    }
  }